{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "New competition type" %} – Slalom Timing{% endblock %}
{% block topbar_title %}{% trans "New competition type" %}{% endblock %}
{% block content %}
  <a class="back-link" href="{% url 'competitions:type-list' %}">{% trans "← Back to Competition Types" %}</a>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button" type="submit">{% trans "Save" %}</button>
    <a href="{% url 'competitions:type-list' %}">{% trans "Cancel" %}</a>
  </form>
{% endblock %}
